/* ===== Desktop >= 992px ===== */
@media (min-width: 992px) {
}

/* ===== Tablet & Mobile < 992px ===== */
@media (max-width: 991.98px) {
}

/* ===== Mobile <= 767.98px ===== */
@media (max-width: 767.98px) {
    .client__grid {
        margin-top: 42px;
        grid-template-columns: repeat(2, min-content);
    }
}
