*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    width: 170px;
    height: 62px;
    background: #5d3bee;
    border: none;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
}
.font__title {
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem; /* 117.857% */
    letter-spacing: -0.224rem;
}
.font__desc {
    font-size: 1.8rem;
}
.header {
    padding-top: 20px;
    background: #fbfaff;
    position: sticky;
}
.sticky {
    position: sticky;
    top: -20px;
    z-index: 9999;
}
.container-header {
    width: 1330px;
    margin-left: auto;
    margin-right: auto;
}
.header-content {
    display: flex;
    align-items: center;
}
.email {
    display: flex;
    align-items: center;
    justify-content: center;
}
.email__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #5d3bee33;
    border-radius: 50%;
    transition: box-shadow 0.4s ease;
}
.email__img img {
    transition: transform 0.4s ease;
}

.email__text {
    margin-left: 10px;
    color: #080415;
    font-family: "DM Sans";
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem; /* 136.364% */
    cursor: pointer;

    text-decoration: none;
    background-image: linear-gradient(#5d3bee33, #080415);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0% 2px; /* Ban đầu chiều rộng bằng 0 */
    transition: background-size 0.4s ease;
}
.email:hover .email__img {
    box-shadow: 0 0 12px rgb(93, 59, 238, 0.6);
}
.email:hover .email__img img {
    transform: scale(1.2) rotate(-5deg);
}
.email:hover .email__text {
    background-size: 100% 2px;
}

.logo {
    margin-left: 357px;
    transition: transform 0.4s ease;
}

.logo:hover {
    transform: scale(1.1) rotate(-5deg);
}

.menu {
    margin-left: 223px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}
.menu__link {
    padding: 4px 0;
    color: #51586a;
    font-family: "DM Sans";
    font-size: 1.8rem;
}
.menu__item {
    transition: transform 0.4s ease;
}
.menu__item:hover {
    transform: translateY(-3px);
}
/* mobile */

.hero-header {
    padding-top: 44px;
    display: flex;
    justify-content: center;
    min-height: 749;
}
.hero-background {
    position: relative;
}
.hero-background__01 {
    position: absolute;
    left: -151px;
    bottom: 0;
    z-index: -1;
}
.hero-background__02 {
    position: absolute;
    right: -47px;
    bottom: 0;
    z-index: -1;
}
.hero__content {
    margin-top: 181px;
}
.hero__title {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 7.6rem; /* 95% */
    letter-spacing: -0.32rem;
}
.hero__desc {
    margin-top: 20px;
    color: #51586a;

    line-height: 3rem; /* 166.667% */
    width: 370px;
}
.hero__btn {
    margin-top: 50px;
}
.hero__btn--link {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    background: none;
}
.client {
    margin-top: 100px;
}
.client__title {
    margin-left: 100px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5rem; /* 119.048% */
    letter-spacing: -0.168rem;
}
.client__grid {
    margin-left: 70px;
}
.client__item {
    margin-bottom: 36px;
}
.client__header {
    position: relative;
}
.client__header::before {
    position: absolute;
    content: "";
    top: 22px;
    display: inline-block;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.specialities {
    margin-top: 133px;
}

.specialities__title {
    margin-top: 20px;
    color: #080415;

    text-align: center;
}
.specialities__desc {
    margin-top: 20px;
    color: #51586a;
    text-align: center;

    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}
.specialities__grid {
    margin-top: 50px;
}
.speciality__card {
    padding: 33px 40px;
    background: #fbfaff;
}
.speciality__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    fill: #fff;

    border: 1px solid #08041510;
    border-radius: 50%;
}
.speciality__name {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem; /* 125% */
    letter-spacing: -0.128rem;
}
.speciality__text {
    margin-top: 15px;
    color: #51586a;

    line-height: 3rem; /* 166.667% */
}
.project {
    margin-top: 140px;
    padding: 86px 0;
    background: #5d3bee;
}
.project__title {
    color: #fff;
}
.project__subtitle {
    margin-left: 28px;
    margin-top: 31px;
    color: #fff;

    line-height: 3rem; /* 166.667% */
}
.project__grid {
    margin-top: 70px;
}
.project__card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 23px 23px 34px;
    background: #fbfaff;
    margin-top: 30px;
    z-index: 1;
}
.project__card--background {
    position: absolute;
    right: 0;
    z-index: -1;
}
.project__name {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: -0.128rem;
}
.project__desc {
    margin-top: 10px;
    color: #51586a;
    line-height: 2.3rem; /* 143.75% */
}
.project__link {
    display: block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 20px;
}

.project__image {
    width: 246px;
    height: 187px;
    object-fit: cover;
}
.project__footer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.btn-all-project {
    background: #fff;
    color: #080415;
}
.interactive {
    padding: 140px 0;
}
.interactive__greeting {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
}
.interactive__title {
    margin-top: 10px;
    color: #080415;
    text-align: center;
}
.interactive__desc {
    margin-top: 15px;
    color: #51586a;
    text-align: center;

    line-height: 3rem; /* 166.667% */
}
.interactive__stat {
    display: flex;

    justify-content: center;
    gap: 150px;
    width: min(946px, 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 20px 0;
    border-top: 1px solid rgb(8, 4, 21, 0.2);
    border-bottom: 1px solid rgb(8, 4, 21, 0.2);
}
.interactive__stat--number {
    color: #080415;
    font-family: "DM Sans";
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7.6rem; /* 135.714% */
    letter-spacing: 0.168rem;
    text-decoration: underline solid;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}
.interactive__stat--label {
    color: #51586a;

    line-height: 3rem; /* 166.667% */
}
.interactive__video {
    margin-top: 70px;
}

.interactive__video-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.interactive__video--play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 111px;
    height: 111px;
    z-index: 2;
}
.myVideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.interactive__video--play::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 111px;
    height: 111px;
    border-radius: 111px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
}
.interactive__video--play-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.interactive__video-tag {
    position: absolute;
    right: 10px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 62px;
    background: #fff;

    color: #51586a;

    font-weight: 700;
}

/* Khi video đang chạy, ẩn nút play hoặc làm mờ nó */
.control-btn.is-playing {
    opacity: 0;
    visibility: hidden;
}
/* Khi di chuột vào container thì hiện lại nút dừng */
.interactive__video-container:hover .control-btn.is-playing {
    opacity: 1;
    visibility: visible;
}

.evaluate {
    padding: 75px 0;
    background: #fbfaff;
    position: relative;
    overflow: hidden;
}

.evaluate__background--01 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.evaluate__background--02 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.evaluate__title {
    color: #080415;

    text-align: center;
}
.evaluate__subtitle {
    margin-top: 20px;
    color: #51586a;
    text-align: center;
    line-height: 3rem; /* 166.667% */
}
.evaluate__content--wapper {
    width: 100%;
}
.evaluate__content--wapper .row {
    display: flex;
    flex-wrap: nowrap; /* Ngăn các thẻ card nhảy xuống hàng dưới */
    overflow-x: auto; /* Cho phép cuộn ngang */
    scroll-snap-type: x mandatory; /* Giúp card tự động "khớp" vào giữa khi vuốt */
    gap: 15px; /* Khoảng cách giữa các thẻ */
    padding-bottom: 20px; /* Tránh bị mất bóng đổ (box-shadow) bên dưới */
    -webkit-overflow-scrolling: touch; /* Giúp cuộn mượt hơn trên iPhone */
}
.evaluate__content--wapper {
    scroll-snap-align: start; /* Điểm dừng khi cuộn */
}
.evaluate__content--wapper .row::-webkit-scrollbar {
    display: none;
}
.evaluate__content-col {
    display: block;
}
.evaluate__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.evaluate__quote {
    text-align: center;
    width: 58%;
    font-size: 2.4rem;
    line-height: 4rem; /* 166.667% */
}
.evaluate__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}
.evaluate__author--info {
    display: flex;
    align-items: center;
}
.evaluate__author--avt {
    width: 40px;
    height: 40px;

    background: #f29764;
    border-radius: 50%;
    overflow: hidden;
}
.evaluate__author--img {
    transform: translateY(3px);
    width: 100%;

    object-fit: cover;
}
.evaluate__author--name {
    margin-left: 15px;
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
}
.evaluate__author--role {
    margin-top: 10px;
    color: #51586a;
}
.evaluate__pagination {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.dot {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    background: #08041533;
}
.pagination__active {
    width: 20px;
    height: 20px;
    background: #5d3bee;
    border-radius: 50%;
    border: 3px solid #fff; /* Tạo khoảng trắng bên trong */
    outline: 1px solid #5d3bee; /* Vòng tròn tím ngoài cùng */
    background-clip: content-box;
}
.faq {
    margin-top: 95px;
}
.faq__title {
    color: #080415;
}
.faq__list {
    margin-top: 20px;
}
.faq__item {
    margin-top: 60px;
    padding-bottom: 21px;
    border-bottom: 2px solid #08182f;
}
.faq__question--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq__question {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem; /* 125% */
    letter-spacing: -0.128rem;
    margin-bottom: 23px;
}
.faq__desc {
    display: none;
    width: 60%;
    color: #51586a;

    line-height: 3rem; /* 166.667% */
    transition: all 0.5s ease;
}

/* btn */

.faq__btn {
    width: 50px;
    height: 50px;

    /* Ngăn Flexbox làm co nút bấm */
    flex-shrink: 0;

    /* Đảm bảo luôn là hình tròn */
    border-radius: 50%;
    aspect-ratio: 1 / 1;

    border: 2px solid #5d3bee33;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    stroke: #161a1c;
}

.icon-wrapper {
    position: relative;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq__btn--line {
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
.faq__btn--line.vertical {
    transform: rotate(90deg); /* Dấu cộng */
}
.hidden-check {
    display: none;
}
.hidden-check:checked ~ .faq__question--container .faq__question .faq__desc {
    display: block;
}

.hidden-check:checked ~ .faq__question--container .faq__btn--line.vertical {
    transform: rotate(0);
}
.hidden-check:checked ~ .faq__question--container .faq__btn {
    color: #5d3bee; /* stroke dùng currentColor sẽ nhận màu này */
    border-color: #5d3bee;
}
.hidden-check:checked
    ~ .faq__question--container
    .faq__question
    .faq__question {
    color: #5d3bee;
}
.atmosphere {
    margin-top: 160px;
}
.atmosphere__title {
    color: #080415;
    text-align: center;
}
.atmosphere__desc {
    margin-top: 20px;
    color: #51586a;
    text-align: center;

    line-height: 3rem; /* 166.667% */
}
.atmosphere__link {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: #5d3bee;
    font-family: "DM Sans";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4rem; /* 125% */
    letter-spacing: -0.128rem;
    text-decoration: underline solid #5d3bee; /* line, style, color */
    text-underline-offset: auto;
    text-decoration-thickness: auto;
}
.atmosphere__gallery {
    margin-top: 70px;
}
.atmosphere__img {
    width: 100%;
    height: 529px;
    object-fit: cover;
}
.contact {
    margin-top: 140px;
}
.contact__section {
    padding: 68px 0;

    background: #fbfaff;
    position: relative;
    overflow: hidden;
}
.contact__background--01 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.contact__background--02 {
    position: absolute;
    left: 140px;

    left: 239px;
    bottom: 0;
}
.contact__background--03 {
    position: absolute;
    right: 0;
    top: 0;
}
.contact__emoji {
    display: flex;
    justify-content: center;
}
.contact__title {
    margin-top: 10px;
    color: #080415;
    text-align: center;
}
.contact__desc {
    margin-top: 20px;
    color: #51586a;
    text-align: center;

    line-height: 3rem; /* 166.667% */
}
.contact__btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.footer {
    padding: 50px 0 30px;
}
.footer-content {
    width: 1429px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #0c072033;
}
.footer__copyright {
    margin-top: 18px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #525771;
}
.copyright__link {
    display: flex;
    align-items: center;
    gap: 23px;
}
.copyright__link--rect {
    content: "";
    display: inline-block;
    height: 14px;
    width: 1px;
    background: #525771;
}
